<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <link rel="Shortcut Icon" href="/public/img/log.ico" type="image/x-icon">
    <title>pet</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/public/css/bootstrap.reset.css">
    <link rel="stylesheet" type="text/css" href="public/fonts/custom/iconfont.css">
    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <div class="container-fluid wrapper">
        <div class="header">
            <h1>宠社区</h1>
            <a class="logo" href="">
                <img src="public/imgs/app/logo.jpg"/>
            </a>
            <!-- 下拉 -->
            <!-- <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">
                            <span class=""></span>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
        <!-- 登录 -->
        <div class="form-box">
            <form  class="register">
                <fieldset>
                    <legend>注册</legend>
                    <p class="welcome">WELCOME</p>
                    <div class="item first">
                        <label for="phone" class="iconfont icon-phone"></label>
                        <input type="text" class="input-text" id="phone" placeholder="请输入手机号码" />
                        <!-- 发送完显示disabled -->
                        <input type="button" class="btn disabled" value="57秒后可重新获取"/>
                    </div>
                    <div class="item">
                        <label for="code" class="iconfont icon-yanzhengma"></label>
                        <input type="password" class="input-text" id="code" placeholder="短信验证码" />
                    </div>
                    <div class="item last">
                        <label for="pswd" class="iconfont icon-suo"></label>
                        <input type="password" class="input-text" id="pswd" placeholder="请输入密码" />
                    </div>
                    
                    <!-- 显示增加class:show -->
                    <div class="error show">
                        账号密码组合错误
                    </div>
                    <div class="btn-box">
                        <input type="button" class="btn" value="完成注册"/>
                    </div>
                    <div class="link-box">
                        
                        <p><span class="iconfont icon-jinggao"></span>
                            成注册则表示您已阅读并同意<a href="">宠社区用户协议</a>
                        </p>
                    </div>
                </fieldset>
               
              
            </form>        
        </div>
        <!-- 登录结束 -->
    </div>
    <script type="text/javascript" src="/public/bower_components/jquery/dist/jquery.min.js"></script>
</body>
</html>


